/* .AuthPage{

} */

.ToggleButton {
    margin-top: 200px;
    display: flex;
    border-radius: .5;
    font-family: 'Marcellus SC', serif;
    color:black;
    align-content:center;
    cursor: pointer;
  } 
  