.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.ShoppingLink {
    font-family: 'Marcellus SC', serif;
    color:black;
    /* text-decoration: none;   */
}

.CartItems {
    font-family: 'Marcellus SC', serif;
    color:black;
}