.CartItems {
    display:inline-block;
    grid-template-rows:inherit;
    font-family: 'Marcellus SC', serif;
    color:white;
}
.CartItemName {
    font-size: 22px;
}
.CartItemImage {
    height:300px;
}
.CartItemPrice {
    font-size:22px;
}
.CartQty{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.CartItemQty {
    font-size: 18px;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    font-size:18px;

}
.ShoppingLink {
    font-family: 'Marcellus SC', serif;
    color:white;
}
.ContShoppingLink {
    font-family: 'Marcellus SC', serif;
    color:white;
    padding: 17px;

}
.CartCheckoutButton {
    font-family: 'Marcellus SC', serif;
    color: black;
    font-size:18px;
    margin: 17px;
}
