.CartItems {
    display:inline-block;
    grid-template-rows:inherit;
    font-family: 'Marcellus SC', serif;
    color:black;
}
.CartItemName {
    font-size: 22px;
}
.CartItemImage {
    height:300px;
}
.CartItemPrice {
    font-size:22px;
}

.CartItemQty {
    font-size: 18px;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.ShoppingLink {
    font-family: 'Marcellus SC', serif;
    color:black;
    /* text-decoration: none;   */
}

