/* body{
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
} */


.MerchandisePage {
    display: grid;
    grid-gap: 10px;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    
}


.card { 
    height: 200px;
  } 

