

.MerchandisePage {
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    
    
    
}

.card {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

