
/* //ImageCard class is from the component */
.ImageCard {
    float:  left;
    width: 33%; 
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}
.MerchandisePage {
    display:flex;
}
.card { 
    flex: 1;
    /* grid-column-start: 2; */
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; */
}

