nav {
    background: black;
    color: white;
    line-height: 40px;
    height:40px;
    
}


a {
    color:grey
}

.logo-container {
    background-color: black;
}

.logo {
    height:250px;
    width: auto;
}