nav {
    background: black;
    color: white;
    line-height: 40px;
    height:40px;
    
}


.navText {
    font-family: 'Marcellus SC', serif;;
    font-size:25px;
    color: white;
    text-decoration: none;
}

.logo-container {
    background-color: black;
}

.logo {
    height:250px;
    width: auto;
}